<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/pokemonICO.ico" type="image/x-icon">
  <title>Huidige Pokémon</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--SCRIPTS-->
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script defer src="/scripts/general.js"></script>
  <script defer src="/scripts/currentpokemon.js"></script>
  <script defer src="/scripts/filter.js"></script>
  <script defer src="/scripts/huidige.js"></script>
</head>

<body class="ingelogd pokemon-bekijken">
  <header>
    <nav>
      <section class="left-container">
        <a href="/pokemon-submenu"><img src="/assets/pokemon_logo.png" alt="logo"></a>
      </section>
      <section id="nav-menus" class="nav-container">
        <ul class="">
          <li><abbr title="Pokémons&nbsp;bekijken"><a href="/pokemons-bekijken"><img src="/assets/nav-icons-black/bekijken.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;vergelijken"><a href="/pokemon-vergelijken"><img src="/assets/nav-icons-black/vergelijken.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;vangen"><a href="/pokemons-vangen"><img src="/assets/nav-icons-black/vangen.png" alt=""></a></abbr>
          </li>
          <li class="active"><abbr title="Huidige&nbsp;pokémon"><a href="/huidige-pokemon"><img src="/assets/nav-icons-red/huidige.png" alt=""></a></abbr></li>
          <li><abbr title="Pokémon&nbsp;battler"><a href="/pokemon-battler"><img src="/assets/nav-icons-black/battler.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Wie&nbsp;is&nbsp;deze&nbsp;pokémon?"><a href="/who's-that-pokemon"><img src="/assets/nav-icons-black/who.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;tracker"><a href="/pokemon-finder"><img src="/assets/nav-icons-black/tracker.png" alt=""></a></abbr>
          </li>
        </ul>
      </section>
      <section class="right-container">
        <ul>
          <li class="hamMenu"><button class="btn btn-dark"><i class="fa-solid fa-bars"></i></button></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#chooseAvatar"><button>
                <% if (avatar) {%>
                <img src="<%= avatar %>" alt="my-avatar">
                <% } else { %>
                <i class="fa-solid fa-question"></i>
                <% } %>
              </button></a></li>
          <li><a href="/pokemon-auth/logout" class="fa-solid fa-right-from-bracket btn btn-dark"></a>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <aside>
    <button type="button" class="btn-close filter-close" aria-label="Close"></button>
    <form action="./filter" method="get" id="pokemon-filter-form">
      <h2>Filter de pokémons</h2>
      <section class="input-group">
        <input type="text" id='pokemonSearch' class="form-control" name="pokemon_name" placeholder="Zoek op naam">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
      </section>
      <ul class="left-pokemon-list">
      </ul>
      <select class="form-select form-select-lg mb-3" name="pokemon_type" aria-label="Large select example">
        <option value="none" selected>Pokémon type</option>
        <hr class="dropdown-sectionider">
        <option value="normal">Normaal</option>
        <option value="fighting">Vechten</option>
        <option value="flying">Vliegend</option>
        <option value="poison">Vergif</option>
        <option value="ground">Grond</option>
        <option value="rock">Steen</option>
        <option value="bug">Insect</option>
        <option value="ghost">Geest</option>
        <option value="steel">Staal</option>
        <option value="fire">Vuur</option>
        <option value="water">Water</option>
        <option value="electric">Elektrisch</option>
        <option value="psychic">Psychisch</option>
        <option value="ice">IJs</option>
        <option value="dragon">Draak</option>
        <option value="dark">Donker</option>
        <option value="fairy">Fee</option>
      </select>
      <section class="form-floating mb-3">
        <select class="form-select form-select-sm" name="sort_by" id="floatingSelect" aria-label="Floating label select example">
          <option value="name" selected>Naam (alfabetisch)</option>
          <option value="weight">Gewicht</option>
          <option value="height">Lengte</option>
        </select>
        <label for="floatingSelect">Sorteer op:</label>
      </section>
      <section class="d-grid gap-2 mb-2">
        <button class="btn btn-dark" type="submit">Filtreer</button>
      </section>
    </form>
  </aside>
  <main class="pokemon-bekijken-main">
    <section><i class="fa-solid fa-filter"></i></section>
    <section class="title">
      <h1>Jouw Pokémons</h1>
    </section>
    <section class="pokemon-list">
      <ul>
        <% for (let i = 0; i < pokemonsList.length; i++) {%>
        <li data-bs-toggle="modal" data-bs-target="#pokemons" onclick="getPokemon(<%= pokemonsList[i].pokemonId %>)">
          <a data-bs-toggle="modal" data-bs-target="#pokemons" href="#">
            <% if (pokemonsList[i].pokemonGif) { %>
            <img src="<%= pokemonsList[i].pokemonGif %>" alt="<%= pokemonsList[i].pokemonName %>">
            <% } else { %>
            <img src="<%= pokemonsList[i].pokemonImg %>" alt="<%= pokemonsList[i].pokemonName %>">
            <% } %>
          </a>
          <p><%= pokemonsList[i].pokemonName.charAt(0).toUpperCase() %><%=  pokemonsList[i].pokemonName.slice(1) %></p>
        </li>
        <% } %>
      </ul>
    </section>
    <section class="list-nav">
      <% if (hasPreviousPage) { %>
      <button id="previous"><i class="fa-solid fa-angles-left"></i>Vorige</button>
      <% } else { %>
      <button id="previous" disabled><i class="fa-solid fa-angles-left"></i>Vorige</button>
      <% } %>
      <b><%= pageNumber %></b>
      <% if (hasNextPage) { %>
      <button id="next">Volgende<i class="fa-solid fa-angles-right"></i></button>
      <% } else { %>
      <button id="next" disabled>Volgende<i class="fa-solid fa-angles-right"></i></button>
      <% } %>
    </section>
    <section class="pokemon_hide">
      <img src="assets/pokemon_logo.png" alt="">
      <img src="assets/pokeball_opening.gif" alt="">
    </section>
    <section class="current-pokemon">
      <a href="/huidige-pokemon">
        <% if (currentPokemon.pokemonGif) { %>
        <img class="pokemon-pic" src="<%= currentPokemon.pokemonGif %>" alt="<%= currentPokemon.pokemonName %>">
        <% } else { %>
        <img class="pokemon-pic" src="<%= currentPokemon.pokemonImg %>" alt="<%= currentPokemon.pokemonName %>">
        <% } %>
      </a>
      <img class="pokemon_podioum" src="assets/podium.png" alt="pokemon-podium">
      <section class="pokemon-stats">
        <section class="pokemon-hp">
          <img id="life" src="assets/red-heart.png" alt="leven">
          <p><%= currentPokemon.pokemonHP %></p>
        </section>
        |
        <section class="pokemon-attack">
          <img id="attack" src="assets/sword.png" alt="attack">
          <p><%= currentPokemon.pokemonAttack %></p>
        </section>
        |
        <section class="pokemon-shield">
          <img id="shield" src="assets/shield.png" alt="verdediging">
          <p><%= currentPokemon.pokemonDefense %></p>
        </section>
      </section>
    </section>
    <!-- Modal voor help-->
    <section class="modal fade" id="hulp" tabindex="-1" aria-labelledby="hulpLabel" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="hulpLabel">Hulp</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            Hier wordt een volledig overzicht getoond van al uw gevangen Pokémons. Bovendien bestaat de
            mogelijkheid om een filter toe te passen om uw verzamelde Pokémons te sorteren. Zodra u de
            gewenste Pokémon heeft geïdentificeerd, kunt u deze selecteren om als actuele Pokémon in te
            zetten.
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor detail -->
    <section class="modal fade" id="pokemons" tabindex="-1" aria-labelledby="detailLabel" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="pokemonsLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            <img id="pokemondetailImg" src="" alt="">
          </section>
          <section class="modal-footer">
            <a id="pokemonSetLink" href="#">
              <button class="btn btn-dark" type="button">Maak <span id="pokemonName"></span> je huidige Pokémon</button>
            </a>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor avatar-->
    <section class="modal fade" id="chooseAvatar" tabindex="-1" aria-labelledby="chooseAvatar" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="chooseAvatarLabel">Kies je nieuwe avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            <ul class="avatars">
              <li onclick="changeAvatar('ash')"><img src="/assets/avatars/ash_ketchum.png" alt="ash"></li>
              <li onclick="changeAvatar('chloe')"><img src="/assets/avatars/chloe.png" alt="chloe"></li>
              <li onclick="changeAvatar('dawn')"><img src="/assets/avatars/dawn.png" alt="dawn"></li>
              <li onclick="changeAvatar('james')"><img src="/assets/avatars/james.png" alt="james"></li>
              <li onclick="changeAvatar('jessie')"><img src="/assets/avatars/jessie.png" alt="jessie"></li>
              <li onclick="changeAvatar('may')"><img src="/assets/avatars/may.png" alt="may"></li>
              <li onclick="changeAvatar('serena')"><img src="/assets/avatars/serena.png" alt="serena"></li>
              <li onclick="changeAvatar('none')"><img src="/assets/avatars/none.png" alt="none"></li>
            </ul>
          </section>
        </section>
      </section>
    </section>
    <section data-bs-toggle="modal" data-bs-target="#hulp" class="help"><button><i class="fa-solid fa-question"></i></button></section>
  </main>
</body>

</html>