<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/pokemonICO.ico" type="image/x-icon">
  <title>Pokémon vergelijken</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--SCRIPTS-->
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script defer src="/scripts/general.js"></script>
  <script defer src="/scripts/currentpokemon.js"></script>
  <script defer src="/scripts/vergelijken.js"></script>
</head>

<body class="ingelogd">
  <header>
    <nav>
      <section class="left-container">
        <a href="/pokemon-submenu"><img src="/assets/pokemon_logo.png" alt="logo"></a>
      </section>
      <section id="nav-menus" class="nav-container">
        <ul class="">
          <li><a href="/pokemons-bekijken"><img src="/assets/nav-icons-black/bekijken.png" alt=""></a></a>
          </li>
          <li class="active"><a href="/pokemon-vergelijken"><img src="/assets/nav-icons-red/vergelijken.png" alt=""></a></li>
          <li><a href="/pokemons-vangen"><img src="/assets/nav-icons-black/vangen.png" alt=""></a>
          </li>
          <li><a href="/huidige-pokemon"><img src="/assets/nav-icons-black/huidige.png" alt=""></a>
          </li>
          <li><a href="/pokemon-battler"><img src="/assets/nav-icons-black/battler.png" alt=""></a>
          </li>
          <li><a href="/who's-that-pokemon"><img src="/assets/nav-icons-black/who.png" alt=""></a>
          </li>
          <li><a href="/pokemon-finder"><img src="/assets/nav-icons-black/tracker.png" alt=""></a>
          </li>
        </ul>
      </section>
      <section class="right-container">
        <ul>
          <li class="hamMenu"><button class="btn btn-dark"><i class="fa-solid fa-bars"></i></button></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#chooseAvatar"><button>
                <% if (avatar) {%>
                <img src="<%= avatar %>" alt="my-avatar">
                <% } else { %>
                <i class="fa-solid fa-question"></i>
                <% } %>
              </button></a></li>
          <li><a href="/pokemon-auth/logout" class="fa-solid fa-right-from-bracket btn btn-dark"></a>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <main>
    <section class="pokemon_hide">
      <img src="/assets/pokemon_logo.png" alt="">
      <img src="/assets/pokeball_opening.gif" alt="">
    </section>
    <section class="current-pokemon">
      <a href="huidige-pokemon">
        <% if (currentPokemon.sprites.other['showdown'].front_default) { %>
        <img class="pokemon-pic" src="<%= currentPokemon.sprites.other['showdown'].front_default %>" alt="<%= currentPokemon.name %>">
        <% } else { %>
        <img class="pokemon-pic" src="<%= currentPokemon.sprites.other['official-artwork'].front_default %>" alt="<%= currentPokemon.name %>">
        <% } %>
      </a>
      <img class="pokemon_podioum" src="assets/podium.png" alt="pokemon-podium">
      <section class="pokemon-stats">
        <section class="pokemon-hp">
          <img id="life" src="assets/red-heart.png" alt="leven">
          <p>
            <%= pokemonHP %>
          </p>
        </section>
        |
        <section class="pokemon-shield">
          <img id="shield" src="assets/shield.png" alt="verdediging">
          <p>
            <%= pokemonDefense %>
          </p>
        </section>
      </section>
    </section>
    <form id="vergelijkenForm" action="/pokemon-vergelijken" method="get">
      <section class="pv_project">
        <article class="left_pokemon">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/6.gif" alt="">
          <section class="input-group">
            <span class="input-group-text btn btn-warning" onclick="submitForm()"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input class="form-control" name="left_pokemon" type="text" placeholder="zoek pokémon" onkeypress="handleKeyPress(event)">
          </section>
          <ul class="pv_stats">
            <li>HP &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 24</li>
          </ul>
          <section class="progress">
            <section class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 24%">
            </section>
          </section>
          <ul class="pv_stats">
            <li>AANVAL&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;76</li>

          </ul>
          <section class="progress">
            <section class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 76%">
            </section>
          </section>
          <ul class="pv_stats">
            <li>VERDEDIGING&nbsp;&nbsp;|&nbsp;&nbsp;42</li>
          </ul>
          <section class="progress">
            <section class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 42%">
            </section>
          </section>
        </article>
        <article class="middle_stats">
          <ul class="comparison">
            <li>-21</li>
            <li>+46</li>
            <li>-38</li>
          </ul>
        </article>
        <article class="right_pokemon">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/384.gif" alt="">
          <section class="input-group">
            <input class="form-control" name="right_pokemon" type="text" placeholder="zoek pokémon" onkeypress="handleKeyPress(event)">
            <span class="input-group-text btn btn-warning" onclick="submitForm()"><i class="fa-solid fa-magnifying-glass"></i></span>
          </section>
          <ul class="pv_stats">
            <li>HP&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;45</li>
          </ul>
          <section class="progress">
            <section class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
            </section>
          </section>
          <ul class="pv_stats">
            <li>AANVAL&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;30</li>
          </ul>
          <section class="progress">
            <section class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
            </section>
          </section>
          <ul class="pv_stats">
            <li>VERDEDIGING&nbsp;&nbsp;|&nbsp;&nbsp;80</li>
          </ul>
          <section class="progress">
            <section class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 76%">
            </section>
          </section>

        </article>
      </section>
    </form>
    <!-- Modal voor help-->
    <section class="modal fade" id="hulp" tabindex="-1" aria-labelledby="hulpLabel" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="hulpLabel">Hulp</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            Hier kunt u 2 Pokémons met elkaar vergelijken.<br>
            Gebruik de 2 zoekbalkjes om te zoeken een Pokémon.<br>
            De statistieken worden automatisch berekend en de vergelijking gebeurt van links naar
            rechts.<br>
            Voorbeeld: stel dat u +20 ziet bij "aanval", dan heeft de linker Pokémon <strong>meer
              aanvalskracht</strong> dan de rechter Pokémon.<br>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor avatar-->
    <section class="modal fade" id="chooseAvatar" tabindex="-1" aria-labelledby="chooseAvatar" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="chooseAvatarLabel">Kies je nieuwe avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            <ul class="avatars">
              <li onclick="changeAvatar('ash')"><img src="/assets/avatars/ash_ketchum.png" alt="ash"></li>
              <li onclick="changeAvatar('chloe')"><img src="/assets/avatars/chloe.png" alt="chloe"></li>
              <li onclick="changeAvatar('dawn')"><img src="/assets/avatars/dawn.png" alt="dawn"></li>
              <li onclick="changeAvatar('james')"><img src="/assets/avatars/james.png" alt="james"></li>
              <li onclick="changeAvatar('jessie')"><img src="/assets/avatars/jessie.png" alt="jessie"></li>
              <li onclick="changeAvatar('may')"><img src="/assets/avatars/may.png" alt="may"></li>
              <li onclick="changeAvatar('serena')"><img src="/assets/avatars/serena.png" alt="serena"></li>
              <li onclick="changeAvatar('none')"><img src="/assets/avatars/none.png" alt="none"></li>
            </ul>
          </section>
        </section>
      </section>
    </section>
    <section data-bs-toggle="modal" data-bs-target="#hulp" class="help"><button><i class="fa-solid fa-question"></i></button></section>
  </main>
</body>

</html>