<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/pokemonICO.ico" type="image/x-icon">
  <title>Pokémon Battler</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--SCRIPTS-->
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script defer src="/scripts/general.js"></script>
</head>

<body class="ingelogd battler">
  <header>
    <nav>
      <section class="left-container">
        <a href="/pokemon-submenu"><img src="/assets/pokemon_logo.png" alt="logo"></a>
      </section>
      <section id="nav-menus" class="nav-container">
        <ul class="">
          <li><abbr title="Pokémons&nbsp;bekijken"><a href="/pokemons-bekijken"><img src="/assets/nav-icons-black/bekijken.png" alt=""></a></abbr></li>
          <li><abbr title="Pokémons&nbsp;vergelijken"><a href="/pokemon-vergelijken"><img src="/assets/nav-icons-black/vergelijken.png" alt=""></a></abbr></li>
          <li><abbr title="Pokémons&nbsp;vangen"><a href="/pokemons-vangen"><img src="/assets/nav-icons-black/vangen.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Huidige&nbsp;pokémon"><a href="/huidige-pokemon"><img src="/assets/nav-icons-black/huidige.png" alt=""></a></abbr>
          </li>
          <li class="active"><abbr title="Pokémon&nbsp;battler"><a href="/pokemon-battler"><img src="/assets/nav-icons-red/battler.png" alt=""></a></abbr></li>
          <li><abbr title="Wie&nbsp;is&nbsp;deze&nbsp;pokémon?"><a href="/who's-that-pokemon"><img src="/assets/nav-icons-black/who.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;tracker"><a href="/pokemon-finder"><img src="/assets/nav-icons-black/tracker.png" alt=""></a></abbr>
          </li>
        </ul>
      </section>
      <section class="right-container">
        <ul>
          <li class="hamMenu"><button class="btn btn-dark"><i class="fa-solid fa-bars"></i></button></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#chooseAvatar"><button>
                <% if (avatar) {%>
                <img src="<%= avatar %>" alt="my-avatar">
                <% } else { %>
                <i class="fa-solid fa-question"></i>
                <% } %>
              </button></a></li>
          <li><a href="/pokemon-auth/logout" class="fa-solid fa-right-from-bracket btn btn-dark"></a>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <main>
    <section class="battlefield">
      <article>
      </article>
      <article>
        <section id='player2Progress' class="progress" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100">
          <section class="progress-bar progress-bar-striped progress-bar-animated bg-danger overflow-visible text-dark" style="width: 100%"></section>
          <p>&hearts;&nbsp;HP&nbsp;<%= pokemonToBattleData.stats[0].base_stat %></p>
        </section>
        <section class="pokemon-damage">
          <img src="<%= pokemonImg %>" alt="">
          <img src="/assets/damage.gif" alt="">
        </section>
      </article>
      <article>
        <section class="pokemon-damage">
          <img src="<%= currentPokemon.pokemonBackGif %>" alt="">
          <img src="/assets/damage.gif" alt="">
        </section>
        <section id='player1Progress' class="progress" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100">
          <section class="progress-bar progress-bar-striped progress-bar-animated bg-primary overflow-visible text-dark" style="width: 100%;">
          </section>
          <p>&hearts;&nbsp;HP&nbsp;<%= currentPokemon.pokemonHP %></p>
        </section>

      </article>
      <article>
        <ul class="aanvallen">
          <li><%= currentPokemon.pokemonMoves[0] %></li>
          <li><%= currentPokemon.pokemonMoves[1] %></li>
          <li><%= currentPokemon.pokemonMoves[2] %></li>
          <li><%= currentPokemon.pokemonMoves[3] %></li>
        </ul>
      </article>
    </section>
    <!-- Modal voor help-->
    <section class="modal fade" id="hulp" tabindex="-1" aria-labelledby="hulpLabel" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="hulpLabel">Hulp</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            Hier kunt u uw Pokémons tegen elkaar laten vechten. <br> Indien u nog geen Pokémon heeft
            gekozen, moet u dat eerst doen op de pagina <a href="huidige-pokemon">huidige-pokemon</a>.
            Kies één aanvalstechniek van de 4 en kijk wie er wint!
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor avatar-->
    <section class="modal fade" id="chooseAvatar" tabindex="-1" aria-labelledby="chooseAvatar" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="chooseAvatarLabel">Kies je nieuwe avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            <ul class="avatars">
              <li onclick="changeAvatar('ash')"><img src="/assets/avatars/ash_ketchum.png" alt="ash"></li>
              <li onclick="changeAvatar('chloe')"><img src="/assets/avatars/chloe.png" alt="chloe"></li>
              <li onclick="changeAvatar('dawn')"><img src="/assets/avatars/dawn.png" alt="dawn"></li>
              <li onclick="changeAvatar('james')"><img src="/assets/avatars/james.png" alt="james"></li>
              <li onclick="changeAvatar('jessie')"><img src="/assets/avatars/jessie.png" alt="jessie"></li>
              <li onclick="changeAvatar('may')"><img src="/assets/avatars/may.png" alt="may"></li>
              <li onclick="changeAvatar('serena')"><img src="/assets/avatars/serena.png" alt="serena"></li>
              <li onclick="changeAvatar('none')"><img src="/assets/avatars/none.png" alt="none"></li>
            </ul>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor gewonnen -->
    <section class="modal fade" id="won" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Gewonnen</h5>
          </section>
          <section class="modal-footer">
            Proficiat! U heeft gewonnen.
            <section>
              <img src="/assets/pikachu_bye.gif" alt="">
            </section>
            Je wordt zodadelijk teruggebracht naar de uw pokemons.
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor verloren -->
    <section class="modal fade" id="lost" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Verloren</h5>
          </section>
          <section class="modal-footer">
            Jammer! U heeft verloren.
            <section>
              <img src="/assets/pikachu_bye.gif" alt="">
            </section>
            Je wordt zodadelijk teruggebracht naar de uw pokemons.
          </section>
        </section>
      </section>
    </section>
    <section data-bs-toggle="modal" data-bs-target="#hulp" class="help"><button><i class="fa-solid fa-question"></i></button></section>
  </main>
</body>

<script>
  let pokemonTofight = document.querySelector(".battlefield article:nth-child(2) img"),
    myPokemon = document.querySelector(".battlefield article:nth-child(3) img"),
    fightButtons = document.querySelectorAll(".aanvallen li"),
    punchAnim = document.querySelector(".pokemon-damage img:nth-child(2)");
  const pokemonToBattleData = <%- JSON.stringify(pokemonToBattleData) %>;
  const currentPokemon = <%- JSON.stringify(currentPokemon) %>;

  const won = new bootstrap.Modal(document.getElementById("won"), {
    keyboard: false,
    backdrop: "static"
  });
  const lost = new bootstrap.Modal(document.getElementById("lost"), {
    keyboard: false,
    backdrop: "static"
  });

  let pokemonToBattleHP = pokemonToBattleData.stats[0].base_stat;
  let currentPokemonHP = currentPokemon.pokemonHP;

  fightButtons.forEach((e) => {
    e.addEventListener("click", () => {
      (punchAnim.style.display = "block"),
      (pokemonTofight.style.animation = "damage .5s"),
      (pokemonTofight.style.animationdelay = "1s"),
      setTimeout(() => {
          punchAnim.style.display = "none";
        }, 1e3),
        setTimeout(() => {
          pokemonTofight.style.animation = "none";
        }, 1500);

      // random damage
      let damage = Math.floor(Math.random() * 8) + 1;

      // damage to player 2
      pokemonToBattleHP -= damage;
      if (pokemonToBattleHP < 0) {
        pokemonToBattleHP = 0;
      }
      document.querySelector("#player2Progress p").innerHTML = `&hearts;&nbsp;HP&nbsp;${pokemonToBattleHP}`;

      // disable buttons
      fightButtons.forEach((e) => {
        e.style.pointerEvents = "none";
        e.style.backgroundColor = "grey";
        e.disabled = true;
      });

      // check if someone has won
      if (pokemonToBattleHP <= 0) {
        won.show();
        // post a without body to update the wins
        fetch("/pokemon-battler-vs-pc/updateWins", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          }
        });
        setTimeout(() => {
          window.location.href = "/huidige-pokemon";
        }, 5000);
      } else if (currentPokemonHP <= 0) {
        lost.show();
        console.log("lost");
        // post a without body to update the losses
        fetch("/pokemon-battler-vs-pc/updateLosses", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          }
        });
        setTimeout(() => {
          window.location.href = "/huidige-pokemon";
        }, 5000);
      }

      // pause for 1.5s
      setTimeout(() => {
        // damage to player 1
        (punchAnim.style.display = "block"),
        (myPokemon.style.animation = "damage .5s"),
        (myPokemon.style.animationdelay = "1s"),
        setTimeout(() => {
            punchAnim.style.display = "none";
          }, 1e3),
          setTimeout(() => {
            myPokemon.style.animation = "none";
          }, 1500);


        let damage = Math.floor(Math.random() * 8) + 1;
        currentPokemonHP -= damage;
        if (currentPokemonHP < 0) {
          currentPokemonHP = 0;
        }
        document.querySelector("#player1Progress p").innerHTML = `&hearts;&nbsp;HP&nbsp;${currentPokemonHP}`;

        // enable buttons
        fightButtons.forEach((e) => {
          e.style.pointerEvents = "auto";
          e.style.backgroundColor = "var(--orange)";
          e.disabled = false;
        });

        // check if someone has won
        if (pokemonToBattleHP <= 0) {
          won.show();
          // post a without body to update the wins
          fetch("/pokemon-battler-vs-pc/updateWins", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            }
          });
          setTimeout(() => {
            window.location.href = "/huidige-pokemon";
          }, 5000);
        } else if (currentPokemonHP <= 0) {
          lost.show();
          // post a without body to update the losses
          fetch("/pokemon-battler-vs-pc/updateLosses", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            }
          });
          setTimeout(() => {
            window.location.href = "/huidige-pokemon";
          }, 5000);
        }
      }, 1500);
    });
  });
</script>

</html>